---
layout: default
title: Data Gaps
---

<h1 class="title">Data Gaps Template</h1>

<div class="content">
  <p>
    To fully explore how this template works, follow the instructions in
    <a
      href="https://github.com/climatechange-ai/data-gaps-template/blob/main/README.md"
      >the README</a
    >.
  </p>
  <p>
    <a
      href="https://airtable.com/{{ site.airtable_base_id }}/{{ site.new_gap_form_id }}/form"
      target="_blank"
      class="button is-info"
      >New Data Gap</a
    >
  </p>
</div>

<div id="search-wrapper">
  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Text Search</label>
        <div class="control">
          <input
            class="input is-small"
            id="text-search"
            placeholder="Enter search terms..."
            type="search"
          />
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label"
          >Data Gap Types (<a href="taxonomy">definitions</a>)</label
        >
        <div class="control is-expanded">
          <select multiple id="gap-types"></select>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Data Modalities</label>
        <div class="control is-expanded">
          <select multiple id="modalities"></select>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Sectors</label>
        <div class="control is-expanded">
          <select multiple id="sectors"></select>
        </div>
      </div>
    </div>
    <div class="column is-narrow">
      <button
        class="button is-small clear-filters"
        id="clear-filters"
        style="display: none; margin-top: 36px"
      >
        Clear filters
      </button>
    </div>
  </div>

  <div class="tabs is-boxed is-large">
    <ul>
      <li data-show="by-use-case" class="is-active">
        <a href="javascript:void(0)">By Use Case</a>
      </li>
      <li data-show="by-dataset">
        <a href="javascript:void(0)">By Dataset or Data Wish</a>
      </li>
    </ul>
  </div>

  <br />
</div>

<!-- control which tab displays -->
<div id="visibility-toggle" class="by-use-case">
  <!-- use case tab -->
  <div id="by-use-case">
    <!-- table of use cases -->
    <table class="filterable-table table is-bordered">
      <thead>
        <th>Use Case</th>
        <th>Gap Types</th>
        <th>Sectors</th>
      </thead>
      <tbody>
        {% for uc in site.data.data_gaps_use_cases %} {% assign use_case = uc[1]
        %} {% unless use_case.publishable %} {% continue %} {% endunless %}

        <!-- use case row -->
        <tr
          id="{{ use_case.id }}"
          class="data-gaps-details use-case-row"
          data-sectors="{{ use_case.sectors | jsonify }}"
        >
          <td>
            {{ use_case.name }}

            <details>
              <summary>Details (click to expand)</summary>

              {% if use_case.introduction %} {{ use_case.introduction }} {%
              endif %}

              <table class="table is-bordered">
                <thead>
                  <tr>
                    <th>Dataset</th>
                    <th>Data Gap Summary</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data_gap_id in use_case.data_gaps %} {% assign data_gap
                  = site.data.data_gaps[data_gap_id] %} {% assign dataset_id =
                  data_gap.dataset | first %} {% assign dataset =
                  site.data.data_gaps_datasets[dataset_id] %} {% unless
                  dataset.publishable %} {% continue %} {% endunless %}

                  <!-- data gap row -->
                  <tr
                    class="data-gap-row"
                    data-types="{{ data_gap.alltypes | jsonify }}"
                    data-existence="{{ dataset.existence }}"
                    data-modalities="{{ dataset.modalities | jsonify }}"
                  >
                    <td>
                      <a
                        class="view-data-gap"
                        href="javascript:void(0)"
                        data-gap="{{ data_gap.id }}"
                        >{{ dataset.name }}</a
                      >
                    </td>
                    <td>
                      {% include data_gap_details.html data_gap=data_gap
                      fallback_summary=dataset.introduction dataset=dataset
                      use_case=use_case first="use_case" %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </details>
          </td>
          <td>
            <div class="types"></div>
          </td>
          <td>
            <div class="sectors"></div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="no-records" style="display: none">
      <p>
        No records found! Try
        <a href="javascript:void(0)" class="clear-filters">clearing filters</a>,
        or
        <a
          href="https://airtable.com/{{ site.airtable_base_id }}/{{ site.new_gap_form_id }}/form"
          target="_blank"
          >contribute a new data gap</a
        >.
      </p>
    </div>
  </div>

  <!-- dataset tab -->
  <div id="by-dataset">
    <!-- table of datasets -->
    <table class="filterable-table table is-bordered">
      <thead>
        <th>Dataset</th>
        <th>Gap Types</th>
        <th>Modalities</th>
        <th>Sectors</th>
      </thead>
      <tbody>
        {% for ds in site.data.data_gaps_datasets %} {% assign dataset = ds[1]
        %} {% unless dataset.publishable %} {% continue %} {% endunless %}

        <!-- dataset row -->
        <tr
          id="{{ dataset.id }}"
          class="data-gaps-details dataset-row"
          data-sectors="{{ dataset.sectors | jsonify }}"
          data-existence="{{ dataset.existence }}"
          data-modalities="{{ dataset.modalities | jsonify }}"
        >
          <td>
            {{ dataset.name }}

            <details>
              <summary>Details (click to expand)</summary>

              {% if dataset.introduction %} {{ dataset.introduction }} {% endif
              %} {% if dataset.dataset_url %}
              <p>
                <a
                  href="{{ dataset.dataset_url }}"
                  class="button is-info"
                  target="_blank"
                  >View dataset</a
                >
              </p>
              {% endif %}

              <table class="table is-bordered">
                <thead>
                  <tr>
                    <th>Use Case</th>
                    <th>Data Gap Summary</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data_gap_id in dataset.data_gaps %} {% assign data_gap
                  = site.data.data_gaps[data_gap_id] %} {% assign use_case_id =
                  data_gap.use_case | first %} {% assign use_case =
                  site.data.data_gaps_use_cases[use_case_id] %} {% unless
                  use_case.publishable %} {% continue %} {% endunless %}

                  <!-- data gap row -->
                  <tr
                    class="data-gap-row"
                    data-types="{{ data_gap.alltypes | jsonify }}"
                  >
                    <td>
                      <a
                        class="view-data-gap"
                        href="javascript:void(0)"
                        data-gap="{{ data_gap.id }}"
                        >{{ use_case.name }}</a
                      >
                    </td>
                    <td>
                      {% include data_gap_details.html data_gap=data_gap
                      fallback_summary=use_case.introduction dataset=dataset
                      use_case=use_case first="dataset" %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </details>
          </td>
          <td>
            <div class="types"></div>
          </td>
          <td>
            <div class="modalities"></div>
          </td>
          <td>
            <div class="sectors"></div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="no-records" style="display: none">
      <p>
        No records found! Try
        <a href="javascript:void(0)" class="clear-filters">clearing filters</a>,
        or
        <a
          href="https://airtable.com/{{ site.airtable_base_id }}/{{ site.new_gap_form_id }}/form"
          target="_blank"
          >contribute a new data gap</a
        >.
      </p>
    </div>
  </div>
</div>

<style>
  summary {
    cursor: pointer;
  }

  details[open] > summary {
    margin-bottom: 1rem;
  }

  details {
    font-size: 15px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 5px !important;
    border: 1px solid #eee;
    background: #f8f8f8;
  }

  .by-dataset #by-use-case {
    display: none;
  }

  .by-use-case #by-dataset {
    display: none;
  }

  .data-gaps-details > td:first-child {
    width: 75%;
  }

  .filterable-table {
    width: calc(100% - 1px);
  }

  .filterable-table > thead > th {
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    -webkit-overflow-scrolling: touch
  }

  .filterable-table th {
      font-weight: bold
  }

  .filterable-table th,.filterable-table td {
      padding: 0.5rem 1rem;
      border: 1px solid #e9ebec
      border-width: 2px !important;
  }

  details, details td, details th {
    font-size: 16px;
  }

  details summary {
    font-size: 18px;
  }

  .tabs ul {
    padding: 0;
  }

  .tabs ul li {
    margin: 0;
  }

  .tabs.is-boxed ul li a {
    color: #4a4a4a;
  }

  .tabs.is-boxed ul li:hover a {
    text-decoration: none;
  }

  .tabs.is-boxed ul li.is-active:hover a {
    cursor: initial;
  }

  .tabs ul li a:not(.is-active) {
    cursor: pointer;
  }

  .modal-card {
    width: calc(100% - 8rem);
    max-width: 1024px;
  }

  p.modal-card-title {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .modal p, .modal details, .modal .gap-type {
    font-size: 20px;
  }

  .is-icon-tag {
    font-size: 14px !important;
  }
</style>

<script>
  const sectors = {{ site.data.data_gaps_sectors | jsonify }};
  const modalities = {{ site.data.data_gaps_data_modalities | jsonify }};

  const sectorIcons = {};
  Object.entries(sectors).forEach(iter => {
    const [sectorId, sector] = iter;
    sectorIcons[sectorId] = sector.icon;
  });

  const modalityIcons = {};
  Object.entries(modalities).forEach(iter => {
    const [modalityId, modality] = iter;
     modalityIcons[modality.name] = modality.icon;
  });

  $(document).ready(() => {
    const updateShowing = (show) => {
      $('.tabs li').removeClass('is-active');
      $(`[data-show='${show}']`).addClass('is-active');
      $('#visibility-toggle').removeClass().addClass(show);

      const url = new URL(window.location.href);
      url.searchParams.set('showing', show);
      window.history.pushState(null, '', url.toString());
    };

    const params = new URLSearchParams(document.location.search);
    if (['by-dataset', 'by-use-case'].includes(params.get('showing'))) {
      updateShowing(params.get('showing'));
    }

    $('.tabs li').click(ev => {
      updateShowing($(ev.currentTarget).data('show'));
    });

    $('.details-link').click(ev => {
      const a = $(ev.currentTarget);
      const target = $(a.attr('href'));
      const showing = a.data('to');
      updateShowing(showing);
      $('.modal').removeClass('is-active');
      target.find('details').attr('open', 'open');
      target[0].scrollIntoView();

      const url = new URL(window.location.href);
      if (url.searchParams.get('gap')) {
        url.searchParams.delete('gap');
        window.history.pushState(null, '', url.toString());
      }
    });

    const sortedVals = (setVar) => {
      const vals = Array.from(setVar);
      vals.sort();
      return vals;
    };

    const details = Array.from(document.getElementsByClassName('data-gaps-details'));
    const allSectors = new Set();

    details.forEach(el => {
      const rowTypes = new Set();

      ($(el).data('sectors') || []).forEach(sector => {
        allSectors.add(sector);
        $(el).find('.sectors').append(`
           <a class='tag is-light is-icon-tag' data-sectors='${sector}' href='javascript:void(0)' title='${sectors[sector].name}'>${sectors[sector].icon}</a>
        `);
      });

      Array.from($(el).find('.data-gap-row')).forEach(row => {
        ($(row).data('types') || []).forEach(type => {
          rowTypes.add(type);
        });
      });
      $(el).attr('data-types', JSON.stringify(sortedVals(rowTypes)));
    });

    sortedVals(allSectors).forEach(sectorId => {
      $("#sectors").append(`<option value='${sectorId}'>${sectorIcons[sectorId]} ${sectors[sectorId].name}</option>`);
    });

    const typeIdsToNames = {};
    const typeIdsToDescs = {};
    const typeNamesToIds = {};
    const gapTypes = {{ site.data.data_gaps_types | jsonify }};
    for (let type of Object.values(gapTypes)) {
      typeIdsToNames[type.code] = type.name;
      typeIdsToDescs[type.code] = type.description;
      typeNamesToIds[type.name] = type.code;
    }

    const gapTypesComparator = (a,b) => {
      const ord = "SRUO";
      const idx1 = ord.indexOf(a[0]);
      const idx2 = ord.indexOf(b[0]);
      if (idx1 < idx2) {
        return 1;
      } else if (idx2 < idx1) {
        return -1;
      } else {
        return (a > b) ? 1 : -1;
      }
    };

    const allTypes = new Set();
    details.forEach(el => {
      ($(el).data('types') || []).sort(gapTypesComparator).forEach(typeId => {
        const name = typeIdsToNames[typeId];
        allTypes.add(name);
        $(el).find('.types').append(`
   <a class='tag is-light gap-type is-icon-tag' data-gap-types='${typeId}' title="${name}${typeIdsToDescs[typeId] ? ' ('+typeIdsToDescs[typeId] + ')': ''}" href='javascript:void(0)'>
            ${typeId.replace(':', '')}
          </a>
        `);
      });
    });

    sortedVals(allTypes).sort(gapTypesComparator).forEach(typeName => {
      $('#gap-types').append(`<option value='${typeNamesToIds[typeName]}'>${typeName}</option>`);
    });

    const allModes = new Set();
    Array.from($('.dataset-row')).forEach(el => {
      ($(el).data('modalities') || []).forEach(modality => {
        allModes.add(modality);
        $(el).find('.modalities').append(`
            <a class='tag is-light is-icon-tag' data-modalities='${modality}' href='javascript:void(0)' title='${modality}'>${modalityIcons[modality]}</a>
        `);
      });
    });

    sortedVals(allModes).forEach(modality => {
      $("#modalities").append(`<option value='${modality}'>${modalityIcons[modality]} ${modality}</option>`);
    });

    $("#search-wrapper select").chosen({ width: '100%' });

    let markTimeout = undefined;
    const $tableBody = $('.filterable-table tbody');

    const prepareMark = (textSearch) => {
      if (markTimeout) clearTimeout(markTimeout);
      markTimeout = setTimeout(() => {
        $tableBody.unmark();
        if (textSearch) {
          $tableBody.mark(textSearch);
        }
      }, 100);
    }

    const filterRows = () => {
      const textSearch = $('#text-search').val();
      prepareMark(textSearch);
      const selectedSects = new Set(Array.from($("#sectors").val()));
      const selectedTypes = new Set(Array.from($("#gap-types").val()));
      const selectedModes = new Set(Array.from($("#modalities").val()));
      const filterSets = [selectedSects, selectedTypes, selectedModes];

      $(".filterable-table").show();
      $(".no-records").hide();

      if (filterSets.filter(set => set.size > 0).length === 0 && !textSearch) {
        $('.data-gaps-details').show();
        $('.data-gap-row').show();
        $('#clear-filters').hide();
        return;
      } else {
        $('#clear-filters').show();
      }

      const fullOverlap = (set1, set2) => {
        if (set1.size === 0) return true;
        if (set1.intersection) {
          return set1.intersection(set2).size === set1.size;
        } else {
          for (let s of set1) {
            if (!set2.has(s)) {
              return false;
            }
          }
          return true;
        }
      }

      const matchesAll = (selected, rowVals) => {
        return fullOverlap(selected, new Set([rowVals || []].flat()));
      }

      const matchesFilters = (el) => {
        if (!matchesAll(selectedSects, $(el).data('sectors'))) return false;

        if (textSearch) {
          const elText = $(el).clone().remove('.modal').text().toLowerCase();
          for (let word of textSearch.toLowerCase().split(/\s+/)) {
            if (!elText.includes(word)) {
              return false;
            }
          }
        }

        const gaps = Array.from($(el).find('.data-gap-row'));

        const checkGaps = (selected, key) => {
          const allGapValues = new Set();
          for (let gap of gaps) {
            const gapValues = [$(gap).data(key) || []].flat();
            for (let value of gapValues) allGapValues.add(value);
          }
          return fullOverlap(selected, allGapValues);
        }

        if (!checkGaps(selectedTypes, 'types')) return false;

        if ($(el).hasClass('dataset-row')) {
          if (!matchesAll(selectedModes, $(el).data('modalities'))) return false;
        } else {
          if (!checkGaps(selectedModes, 'modalities')) return false;
        }

        return true;
      }

      let numDatasets = 0;
      let numUseCases = 0;

      details.forEach(el => {
        if (matchesFilters(el)) {
          $(el).show();
          numDatasets += $(el).hasClass('dataset-row');
          numUseCases += $(el).hasClass('use-case-row');
        } else {
          $(el).hide();
        }
      });

      if (numDatasets === 0) {
        $("#by-dataset .filterable-table").hide();
        $("#by-dataset .no-records").show();
      }
      if (numUseCases === 0) {
        $("#by-use-case .filterable-table").hide();
        $("#by-use-case .no-records").show();
      }
    };

    $("#search-wrapper select").change(filterRows);
    $("#text-search").keyup(filterRows);
    $("#text-search").change(filterRows);

    $('.clear-filters').click(() => {
      $("#text-search").val("");
      $("#search-wrapper select").val([]).trigger('chosen:updated').trigger('change');
      setTimeout(() => filterRows, 10);
    });

    $('a.tag').click(ev => {
      for (attr of Array.from(ev.currentTarget.attributes)) {
        if (attr.name.includes('data-')) {
          const key = attr.name.replace('data-', '');
          const select = $(`#${key}`);
          const values = select.val();
          if (!values.includes(attr.value)) {
            values.push(attr.value);
            select.val(values);
            select.trigger('change').trigger('chosen:updated');
          }
        }
      }
    });

    const closeModal = (ev) => {
      $(ev.currentTarget).closest('.modal').removeClass('is-active');
      const url = new URL(window.location.href);
      if (url.searchParams.get('gap')) {
        url.searchParams.delete('gap');
        window.history.pushState(null, '', url.toString());
      }
    };

    $(document).on("click", ".modal-close-button", closeModal);
    $(document).on("click", ".modal-background", closeModal);
    $(document).on("click", ".modal-close", closeModal);

    $('.view-data-gap').click(ev => {
      const btn = $(ev.currentTarget);
      const gapId = btn.data('gap');
      const modal = $(`.modal[data-gap='${gapId}']`);
      modal.addClass('is-active');

      const url = new URL(window.location.href);
      url.searchParams.set('gap', gapId);
      window.history.pushState(null, '', url.toString());
    });

    if (params.get("gap")) {
      const gapId = params.get("gap");
      const parent = $("#" + $(".tabs .is-active").data("show"));
      const modal = parent.find(`.modal[data-gap="${gapId}"]`);
      $(modal).addClass("is-active");
      $(modal).closest("details").attr("open", "open");
    }

    if ($(window.location.hash).length) {
      const target = $(window.location.hash);

      if (target.hasClass('dataset-row')) {
        updateShowing('by-dataset');
      } else if (target.hasClass('use-case-row')) {
        updateShowing('by-use-case');
      }

      target.find('details').attr('open', 'open');
      setTimeout(() => {
        target[0].scrollIntoView();
      }, 100);
    }

    Array.from($('a[title]')).forEach((a) => {
        if ($(a).attr('title')) {
            $(a).attr('data-tooltip', $(a).attr('title').replace(/^\s+|\s+$/gm,''));
            $(a).addClass('has-tooltip-left');
            $(a).addClass('has-tooltip-multiline');
            $(a).attr('title', '');
        }
    });
  });
</script>
