body {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background-color: #f5f4f2;
  color: #000;
}

.title {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000;
  font-size: 2.1875rem;
  line-height: 1.14;
  font-weight: 400;
}

a {
  color: #004b6c;
  text-decoration: none;
  background-color: transparent;
}

p,
.label {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000 !important;
}

td,
th {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000 !important;
}

.tabs.is-boxed ul li a {
  color: #000000 !important;
}

.tabs.is-boxed a:hover {
  background-color: #d3a41b !important;
}

.tabs.is-large {
  font-size: 1.2rem;
}

.tabs.is-boxed li.is-active a {
  color: #ffffff !important;
  background-color: #004b6c !important;
}

.tabs {
  border-bottom-color: #004b6c !important;
  margin-bottom: 0px !important;
}

.table,
table {
  background-color: #f5f4f2 !important;
  color: #000 !important;
}

.button {
  background-color: #d3a41b;
  margin-top: 10px;
}

.control {
  border-style: none !important;
}

.input,
.chosen-container {
  background-color: blue !important;
  color: #999999 !important;
  border-width: 1px;
  border-color: #004b6c;
  border-style: solid;
  border-radius: 0.375rem;
}

.tag.is-light.is-light {
  background-color: #f5f4f2 !important;
  border-width: 1px;
  border-color: #004b6c;
  border-style: solid;
}
