name: Build and Deploy Site

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4

      - name: Install build tools & system libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libssl-dev libreadline-dev zlib1g-dev \
            libxml2-dev libxslt1-dev

      - name: Set bundle config for Nokogiri
        run: |
          bundle config set force_ruby_platform false
          bundle config set build.nokogiri --use-system-libraries

      - name: Install gems
        run: |
          gem install bundler
          bundle install

      - name: Set environment variables
        run: echo "AIRTABLE_ACCESS_TOKEN=${{ secrets.AIRTABLE_ACCESS_TOKEN }}" >> $GITHUB_ENV

      - name: Run data generation script
        run: ruby download_data_gaps_data.rb

      - name: Build site with Jekyll
        run: bundle exec jekyll build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
